body {
    font-family: sans-serif;
    background: white;
    color: salmon;
    text-align: center;
}

canvas {
    border: 1px solid gray;
    display: inline-block;
    float: left;
}

h1 {
    font-size: 24px;
    margin: 0;
}

.description {
    width: 500px;
    margin: auto;
    text-align: justify;
    font-size: 14px;
}

.count, .fps {
    font-weight: bold;
}

.controls {
    text-align: left;
    width: 512px;
    margin: 5px;
    float: left;
}

.controls button {
    height: 25px;
    margin: 2px 0;
    vertical-align: middle;
    background: #555;
    border-radius: 4px;
    text-shadow: 1px 1px 2px #000;
    border: none;
    color: #ccc;
    cursor: pointer;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2) inset,
    0px 0px 0px 3px rgba(0, 0, 0, 0.1) inset;
}

.controls input {
    height: 25px;
    margin: 2px 0;
    vertical-align: middle;
    background: #555;
    border-radius: 4px;
    text-shadow: 1px 1px 2px #000;
    border: none;
    color: #ccc;
    cursor: pointer;
}

.controls button:hover, .controls input:hover {
    background: #558;
}

.controls button:disabled {
    opacity: 0.65;
    cursor: not-allowed;
}

.controls label {
    display: inline-block;
    color: cornflowerblue;
}

a:link, a:visited {
    color: pink;
}

.controls .slider label {
    font-weight: normal;
    width: 112px;
    height: 25px;
    margin: 2px 0;
    text-align: right;
}

.controls .slider .right-label {
    text-align: left;
    width: 70px;
}

.controls .slider {
    margin-left: 10px;
    display: inline-block;
}

.slider input {
    width: 180px;
}

.controls .slider .out {
    display: inline-block;
    font-weight: bold;
    color: blue;
    width: 20px;
}

.cboxlabel {
    margin-left: 20px;
}
